---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';
import SectionLayout from '@/layouts/SectionLayout.astro';

// Components
import FeatureProductCard from '@/components/Card/FeatureProduct.astro';
import CollectionProductCard from '@/components/Card/CollectionProduct.astro';
import { Button } from '@/components/ui/button';

// Icons
import { ChevronRightIcon } from '@heroicons/react/24/solid';

// Assets
import exampleProduct1 from '@/assets/exampleProduct1.jpg';
import exampleProduct2 from '@/assets/exampleProduct2.jpg';
import exampleProduct3 from '@/assets/exampleProduct3.jpg';
import exampleProduct4 from '@/assets/exampleProduct4.jpg';
import exampleProduct5 from '@/assets/exampleProduct5.jpg';
import exampleProduct6 from '@/assets/exampleProduct6.jpg';

import { Debug } from 'astro/components';

const currentRoute = Astro.url.pathname;
---

<BaseLayout title="Beranda" currentRoute={currentRoute}>
  <SectionLayout>
    <div class="w-full flex flex-col justify-center sm:items-center items-start gap-6">
      <!-- Announcement Banner -->
      <div class="flex justify-center font-quicksand">
        <a
          class="inline-flex items-center gap-x-2 bg-white border border-gray-200 text-xs text-gray-600 p-2 px-3 rounded-full transition hover:border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-600 dark:text-gray-400"
          href="#"
        >
          Temukan lebih banyak produk!
          <span class="flex items-center gap-x-1">
            <span
              class="border-l border-gray-200 text-blue-600 pl-2 dark:text-blue-500"
              >Kunjungi Halaman
            </span
            >
            <ChevronRightIcon className='w-4 h-4'/>
          </span>
        </a>
      </div>
      <!-- End Announcement Banner -->

      <h2 class="max-w-2xl font-aleo font-bold text-5xl">
        Eksplorasi Kreativitas dengan 
        Motif Batik Blimbing
      </h2>

      <p class="font-quicksand text-xl max-w-3xl">
        Temukan inspirasi tak terbatas dengan Batik Blimbing. Biarkan
        kreativitas Anda berkembang dalam memilih motif yang paling mewakili
        diri Anda. Jadikan Batik Blimbing sebagai bagian dari gaya unik Anda.
      </p>

      <Button
        client:only
        variant="custom"
        className="font-quicksand relative z-0 bg-primary text-foreground px-6 drop-shadow-sm hover:drop-shadow-2xl duration-300 transition-all outline-none border-none"
      >
        Lihat Profil Kami
      </Button>
    </div>
  </SectionLayout>

  <SectionLayout>
    <div class="flex flex-col justify-center items-center gap-8">
      <h1 class="font-aleo text-2xl">Kenapa Batik Blimbing?</h1>
      
      <div class="flex md:flex-row flex-col gap-8">
        <FeatureProductCard 
          iconName="experts"
          title="Kualitas Keterampilan Tingkat Ahli"
        >
          Batik Blimbing dihasilkan oleh para pengrajin berpengalaman yang telah mengasah keterampilan tingkat ahli selama bertahun-tahun.
        </FeatureProductCard>

        <FeatureProductCard 
          iconName="quality"
          title="Kain Berkualitas dan Ramah Lingkungan"
        >
          Batik Blimbing menggunakan kain berkualitas tinggi dan pewarna ramah lingkungan, mendukung upaya keberlanjutan dan bertanggung jawab.
        </FeatureProductCard>

        <FeatureProductCard 
          iconName="events"
          title="Cocok untuk Berbagai Kesempatan"
        >
          Batik Blimbing cocok untuk berbagai acara, dari kegiatan sehari-hari hingga peristiwa khusus, menambah pesona dan keanggunan pada setiap momen.
        </FeatureProductCard>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <div class="flex flex-col justify-center items-center gap-8">
      <h1 class="font-aleo text-2xl">Koleksi Eksklusif Batik Blimbing</h1>

      <div class="flex md:flex-row flex-col gap-8 w-full ">
        <CollectionProductCard
          foregroundImg={{
            src: exampleProduct1,
            alt: 'Produk Pilihan Pertama Detail Pertama'
          }}
          backgroundImg={{
            src: exampleProduct2,
            alt: 'Produk Pilihan Pertama Detail Kedua'
          }}
          productName="Blimbing Indah"
        >
        </CollectionProductCard>

        <CollectionProductCard
          foregroundImg={{
            src: exampleProduct3,
            alt: 'Produk Pilihan Pertama Detail Pertama'
          }}
          backgroundImg={{
            src: exampleProduct4,
            alt: 'Produk Pilihan Pertama Detail Kedua'
          }}
          productName="Blimbing Indah"
        >
        </CollectionProductCard>

        <CollectionProductCard
          foregroundImg={{
            src: exampleProduct5,
            alt: 'Produk Pilihan Pertama Detail Pertama'
          }}
          backgroundImg={{
            src: exampleProduct6,
            alt: 'Produk Pilihan Pertama Detail Kedua'
          }}
          productName="Blimbing Indah"
        >
        </CollectionProductCard>
      </div>
    </div>
  </SectionLayout>

  <!-- <Debug {exampleProduct1}/> -->
</BaseLayout>
