---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

const currentRoute = Astro.url.pathname;
---

<BaseLayout title="Beranda" currentRoute={currentRoute}>
  <p class="font-quicksand">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aperiam accusamus distinctio officia voluptatibus? Dicta distinctio esse nesciunt accusantium quod atque ut tempora praesentium, voluptatum nulla? Quidem est necessitatibus repellat.
  </p>
</BaseLayout>
