---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';
import SectionLayout from '@/layouts/SectionLayout.astro';

// Components
import { Button } from '@/components/ui/button';
import Link from '@/components/Link/Link.astro';

// Lib
import { Image } from '@astrojs/image/components';

// Icons
import { ChevronRightIcon } from '@heroicons/react/24/solid';

// Assets
import ilus1 from '@/assets/ilus1.png';
import ilus2 from '@/assets/ilus2.png';
import ilus3 from '@/assets/ilus3.png';
import exampleProduct1 from '@/assets/exampleProduct1.jpg';
import exampleProduct2 from '@/assets/exampleProduct2.jpg';
import exampleProduct3 from '@/assets/exampleProduct3.jpg';
import exampleProduct4 from '@/assets/exampleProduct4.jpg';
import exampleProduct5 from '@/assets/exampleProduct5.jpg';
import exampleProduct6 from '@/assets/exampleProduct6.jpg';
import profile from '@/assets/profile.jpg';

import { Debug } from 'astro/components';

const currentRoute = Astro.url.pathname;
---

<BaseLayout title="Beranda" currentRoute={currentRoute}>
  <SectionLayout>
    <div
      class="w-full grid grid-cols-2 grid-rows-1 items-center justify-center"
    >
      <div class="flex flex-col gap-6 w-full">
        <p>Home Industry Kain Batik</p>

        <h1 class="font-aleo text-4xl">Sentuhan Kreativitas Batik Blimbing</h1>

        <p class="text-xl max-w-3xl">
          Keindahan Seni Batik Tradisional dengan Sentuhan Modern.
        </p>

        <Link href="/">Lihat Profil Kami</Link>
      </div>

      <div class="flex justify-end relative bg-red-500 w-full h-full">
        <!-- <Image src={ilus2} alt="Produk Batik Blimbing" class={'w-[400px]'} /> -->

        <!-- <Image
          src={ilus3}
          alt="Produk Batik Blimbing"
          class={'w-[400px] absolute top-0 left-0'}
        /> -->

        <!-- <Image
          src={ilus1}
          alt="Produk Batik Blimbing"
          class={'w-[200px] absolute top-0 left-0'}
        /> -->
      </div>
    </div>
  </SectionLayout>
</BaseLayout>
